.DS_Store
.vscode
.idea/*
*.linux
*.tsv
*.csv
*.png
*.log
*.vtp
*.xmf
*.hd5
*.vts
*~
**/__pycache__/*
trained_models/*
recipes_output/*
.ipynb_checkpoints
ml4h.egg-info/*
.Rproj.user
docker/terra_image/*/**
build/
