model_zoo/**.h5 filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=nbstripout
notebooks/**.ipynb filter=nbstripout
*.ipynb diff=ipynb
model_zoo/cardiac_mri_derived_left_ventricular_mass/sax_diastole_segment_no_flat.h5 filter=lfs diff=lfs merge=lfs -text
model_zoo/liver_fat_from_mri_ukb/liver_fat_from_echo.h5 filter=lfs diff=lfs merge=lfs -text
model_zoo/liver_fat_from_mri_ukb/liver_fat_from_ideal.h5 filter=lfs diff=lfs merge=lfs -text
model_zoo/left_ventricular_mass_from_ecg_student_and_mri_teacher/ecg_rest_raw_lvm_asymmetric_loss.h5 filter=lfs diff=lfs merge=lfs -text
model_zoo/left_ventricular_mass_from_ecg_student_and_mri_teacher/ecg_rest_raw_lvm_symmetric_loss.h5 filter=lfs diff=lfs merge=lfs -text
model_zoo/left_ventricular_mass_from_ecg_student_and_mri_teacher/ecg_rest_raw_age_sex_bmi_lvm_asymmetric_loss.h5 filter=lfs diff=lfs merge=lfs -text
