absl-py==1.4.0
altair==5.3.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array-record==0.4.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.15.0
backcall==0.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
biosppy==2.2.2
bleach==6.1.0
blosc==1.11.1
bokeh==3.1.1
boto3==1.34.112
botocore==1.34.112
cachetools==5.1.0
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.1.0
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.10
dask==2023.5.0
datashader==0.15.2
datashape==0.5.2
db-dtypes==1.2.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
dnspython==2.6.1
etils==1.3.0
exceptiongroup==1.2.1
executing==2.0.1
facets-overview==1.0.3
fastjsonschema==2.19.1
flatbuffers==1.12
fonttools==4.52.1
fqdn==1.5.1
fsspec==2024.5.0
future==1.0.0
gast==0.4.0
gin-config==0.5.0
google-api-core==2.19.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.23.1
google-cloud-bigquery-storage==2.25.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.64.0
grpcio-status==1.48.2
h11==0.14.0
h5py==3.6.0
holoviews==1.17.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
hyperopt==0.1.2
idna==3.3
imageio==2.6.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipyannotations==0.5.1
ipycanvas==0.13.2
ipyevents==2.0.2
ipykernel==6.29.4
ipytablewidgets==0.3.1
ipython==8.12.3
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.10
kaggle==1.6.14
keras==2.9.0
Keras-Preprocessing==1.1.2
keras-tuner==1.4.7
kiwisolver==1.4.5
kt-legacy==1.0.5
lazy_loader==0.4
libclang==14.0.1
linkify-it-py==2.0.3
llvmlite==0.41.1
locket==1.0.0
lxml==5.2.2
lz4==4.3.3
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
mistune==3.0.2
mizani==0.9.3
ml4h==0.0.13
ml4ht==0.0.10
mock==5.1.0
multipledispatch==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
neurite==0.2
nibabel==4.0.2
notebook==7.2.0
notebook_shim==0.2.4
numba==0.58.1
numcodecs==0.12.1
numpy==1.24.4
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
overrides==7.7.0
packaging==24.0
palettable==3.3.3
pandas==1.5.3
pandas-gbq==0.17.9
pandocfilters==1.5.1
panel==1.2.3
param==2.1.0
parso==0.8.4
partd==1.4.1
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotnine==0.12.4
pluggy==1.5.0
portalocker==2.8.2
prometheus_client==0.20.0
promise==2.3
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==3.19.6
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.7
pycparser==2.22
pyct==0.5.0
pydata-google-auth==1.8.2
pydicom==1.2.2
pydot==1.4.1
pydot-ng==1.0.0
Pygments==2.18.0
pymongo==4.7.2
pynndescent==0.5.12
pyparsing==3.0.9
pysam==0.22.1
pystrum==0.4
pytest==8.2.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-slugify==8.0.4
pytz==2024.1
pyviz_comms==3.0.2
PyWavelets==1.4.1
PyYAML==5.3.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.1
rsa==4.8
s3transfer==0.10.1
sacrebleu==2.4.2
scikit-image==0.20.0
scikit-learn==1.3.2
scipy==1.9.1
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
seqeval==1.2.2
shortuuid==1.0.13
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
statsmodels==0.14.1
tabulate==0.9.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-addons==0.17.1
tensorflow-cpu==2.9.1
tensorflow-datasets==4.9.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.13.0
tensorflow-model-optimization==0.8.0
tensorflow-probability==0.17.0
tensorflow-text==2.9.0
termcolor==1.1.0
terminado==0.18.1
text-unidecode==1.3
tf-keras==2.15.0
tf-models-official==2.9.2
tf-slim==1.1.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==1.12.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
traittypes==0.2.1
typeguard==4.2.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.0
uc-micro-py==1.0.3
umap-learn==0.5.6
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.9
vega==4.0.0
voxelmorph==0.2
vtk==9.2.6
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.1.2
widgetsnbextension==4.0.10
wrapt==1.14.1
xarray==2023.1.0
xmltodict==0.13.0
xyzservices==2024.4.0
zipp==3.8.0
